[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
[core]
	excludesfile = /Users/shuto.uchida/.gitignore_global
	quotepath = false
	autocrlf = false
	ignorecase = false
	editor = nano
[ghq]
    root = ~/Works
[gpg]
	program = gpg
[push]
	default = current
[color]
	ui = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[pull]
	rebase = true
